.vscode/
.vscode-test/
node_modules/
out/
eslint.config.mjs
vsc-extension-quickstart.md
.env
.vscodeignore
lib/sikraken/eclipse
lib/sikraken/PTC-Solver
lib/sikraken/sikraken_output/**
lib/sikraken/sikraken_output